FruitsDiet.xcodeproj/project.xcworkspace/xcuserdata/kefas.xcuserdatad/UserInterfaceState.xcuserstate
FruitsDiet.xcodeproj/xcuserdata/kefas.xcuserdatad/xcschemes/FruitsDiet.xcscheme
FruitsDiet.xcodeproj/xcuserdata/kefas.xcuserdatad/xcschemes/xcschememanagement.plist
Pods/Pods.xcodeproj/xcuserdata/kefas.xcuserdatad/xcschemes/Pods.xcscheme
Pods/Pods.xcodeproj/xcuserdata/kefas.xcuserdatad/xcschemes/xcschememanagement.plist
